{
    "name": "Foraya",
    "background": "{{ bg.base }}",
    "foreground": "{{ fg.primary }}",
    "cursorColor": "{{ cursor.color }}",
    "selectionBackground": "{{ selection.background }}",
    "black": "{{ bg.lift }}",
    "red": "{{ accents.red }}",
    "green": "{{ accents.green }}",
    "yellow": "{{ accents.yellow }}",
    "blue": "{{ accents.blue }}",
    "purple": "{{ accents.purple }}",
    "cyan": "{{ accents.cyan }}",
    "white": "{{ neutral.bright }}",
    "brightBlack": "{{ bg.gutter }}",
    "brightRed": "{{ accents.red }}",
    "brightGreen": "{{ accents.green }}",
    "brightYellow": "{{ accents.yellow }}",
    "brightBlue": "{{ accents.blue }}",
    "brightPurple": "{{ accents.purple }}",
    "brightCyan": "{{ accents.cyan }}",
    "brightWhite": "{{ fg.primary }}"
}
